doctype
html
    head
        title="Node Test App"
        link(rel="stylesheet", href="/static/css/main.css")
    body
        div(id="app")
            H1="Title Goes Here"
            UL
                LI="Something"
        script(src="/static/js/bundle.js", type="text/javascript")

